<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Message </title>
</head>
<body>
  <h2>
    Menambah Pesan Untuk Group <%= data.name_group %>
  </h2>

  <form action="/group/addMessage/<%=data.id%>" method="POST">
    <label for="message">Message :</label><br>
    <input type="text" id="message" name="message" value=""><br><br>
    <input type="submit" value="Submit">
  </form>

</body>
</html>