<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>History Message</title>
</head>
<body>
  <h2>Group Name : <%= data.name_group %></h2>
  <table border="1">
    <tr>
      <th>No </th>
      <th>Message</th>
      <th>Created At</th>
    </tr>
    <tr>
    <% for (let i = 0; i < message.length; i++) { %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= message[i].message %></td>
        <td><%= message[i].createdAt.toISOString().slice(0, 10) %></td>
      </tr>
    <% } %>

    </tr>
  </table>
</body>
</html>